<ion-header>
  <ion-toolbar>
    <ion-title>Helena ({{index}})</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <h1>{{ currentWord.emoji }}</h1>
  @if(correct) {
  <h2 class="text-2xl">{{ currentWord.word }}</h2>
  } @else {
  <h2 class="text-2xl">{{ words[reindex].word }}</h2>
  } @if(!isLastCorrectAnswer) {
  <h3 class="text-3xl font-bold">wrong</h3>
  }
  <ion-button (click)="handleResponse(true)">✅ True</ion-button>
  <ion-button color="danger" (click)="handleResponse(false)"
    >🚫 False</ion-button
  >
</ion-content>
