<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Ena speaks</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-progress-bar
    [value]="(currentIndex + 1) / words.length"
  ></ion-progress-bar>
  <form (submit)="checkAnswer()">
    <div class="ion-padding">
      @if(gameCompleted) {
      <div class="ion-padding">
        <h2>Congratulations! You have completed all the stages!</h2>
      </div>
      }
      <h2>Phase {{ currentPhase }}: {{ currentSection }}</h2>
      <ion-card #wordCard class="word-card">
        <ion-card-header>
          <ion-card-title>{{ currentWord.emoji }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <h1>{{currentWord.word}}</h1>
          <ion-button #audioButton (click)="playAudio()" size="large"
            >Listen</ion-button
          >
          <ion-item>
            <ion-input
              #userIonInput
              name="userInput"
              aria-label="Write"
              placeholder="Write"
              [(ngModel)]="userInput"
              [disabled]="answered"
              [ngModelOptions]="{standalone: true}"
            ></ion-input>
          </ion-item>
        </ion-card-content>
      </ion-card>
      <p class="ion-text-center">
        <ion-badge *ngIf="feedback" color="danger">{{ feedback }}</ion-badge>
      </p>
      <ion-button
        type="submit"
        expand="full"
        size="large"
        [disabled]="answered"
      >
        Answer
      </ion-button>
    </div>
  </form>
</ion-content>
